/* Navbar arkaplanını biraz daha koyu ve şık yapalım */
.custom-navbar {
    background: linear-gradient(90deg, #1a2a6c, #b21f1f, #fdbb2d);
    /* Örnek modern gradient */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.custom-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: white !important;

}

.nav-link-custom {
    color: rgba(255, 255, 255, 0.9) !important;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-link-custom:hover {
    color: #ffc107 !important;
    /* Sarı hover efekti */
}